footer {
  height: 40px;
  font-family: 'DEC Terminal Modern', sans-serif;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  bottom: 0;
  font-weight: 700;
}
